.profileCardNavbar.hovercard {
    position: relative;
    padding-top: 0;
    text-align: center;
    top:-3px;
}

.profileCardNavbar.hovercard .avatar img {
    width: 60px;
    height: 60px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}



/*=======================================================================
[Table of contents]
=========================================================================

1. Typography
2. Home / Navigation + Main Carousel
3. who-we-are
4. cause-list
5. video-section
6. Recent-post
7. our members
8. photo-gallery
9. our-partner
10. word-for-humanity
11. Contact Us
12. Footer
13. Carousel vertical
14. Carousel-Fade
15. Preloader
16. Color Chooser
17. New Stuff Added
==========================================================================*/


/*========================
=======Typography=========
==========================*/

div#body > div > div.container{
	position:relative;
	top:80px;
	border-radius: 5px;
	/*padding-top:30px;*/
	/*background-color: #A6A2A2*/
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #454545;
	background-color: #eaedf4;
}

label {
	color : gray;
}

ul {
	list-style: none;
	margin:0;
	padding:0;
}

.navbar-nav li a:hover, 
.navbar-nav li a:focus {
	outline:none;
	outline-offset: 0;
	text-decoration:none;  
	background: transparent;
}

a {
	/*color: #fff;*/
	text-decoration: none;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

a:focus, 
a:hover {
	text-decoration: none;
	outline: none;
}

h1 {
	font-size:36px;
	color:ghostwhite
}

h2 {
	font-size: 24px;
	color:ghostwhite
}

h3 {
	font-size: 20px;
	color:ghostwhite
}

h4 {
	font-size: 18px;
	color: ghostwhite
}

h5 {
	font-size: 16px;
	color:ghostwhite
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight:normal;
}

p{
	color:ghostwhite
}

.padding-top {
	padding-top:80px;
}

.padding-top-two {
	padding-top:40px;
}

.padding-bottom-two {
	padding-bottom:40px;
}

.padding-bottom{	
	padding-bottom:80px;
}

.padding-top-three {
	padding-top:20px;
}

.padding-bottom-three {
	padding-bottom:20px;
}

.section-title {
	border-bottom: 1px solid #dddfe4;
	margin-bottom: 15px;
	margin-top : 50px;
	padding-bottom: 0;
	position: relative;
}

.section-title h1 {
	margin-bottom:20px;
	font-size:30px;
	font-weight:300;
}

.section-title:after {
	position:absolute;
	content:"";
	height:1px;
	width:265px;
}

.navbar-toggle {
	border:1px solid #fff;
	margin-top:10px;
}

.navbar-toggle .icon-bar {
	background-color: #fff;
}

/*
.btn-primary {	
	border-width:2px;
	border-radius: 0;
	color: #fff;
	padding: 14px 54px;	
	font-size:16px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.btn-primary:hover, 
.btn-primary:focus, 
.carousel-caption .btn-primary:hover,
.btn-default:hover, .btn-default:focus, 
#video-section .nav-tabs>li.active>a, 
#video-section .nav-tabs>li >a:hover  {
	color:#fff;
}
/*
.btn-default {
	border: 2px solid #fff;
	border-radius: 0;
	color: #fff;
	display: inline-block;
	margin-top: 20px;
	padding: 10px 18px;
}*/

.lead {
	font-size:18px;
}

.parallax-section { 	
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
	width: 100%;
	min-height:437px;
	padding-top:85px;
}

.parallax-section h1 {
	font-size:48px;
	font-weight:100;
	margin-top:0;
	text-transform:capitalize;
	margin-bottom:5px;
}

/*========================
========Home CSS==========
==========================*/

.main-nav {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.top-bar-hide {
	display: none;
}

/*Topbar*/
.top-bar {
	position:absolute;
	right:15px;
	top:25px;
	z-index: 10;
}

.top-bar span {
	margin-left: 26px;
	color:#fff;
}

.language-dropdown {
	display:inline-block;
}

.dropdown-menu.language-change {
	border-radius: 0;
	min-width: 100px;	
	padding: 0;
	margin-top: 10px;
	background-color:transparent;
}

.dropdown-menu.language-change li a {
	margin-bottom:1px;
	background-color:#fff;
	color:#454545;
}

.language-dropdown a i {
	color:#fff;
}

.top-bar span.contact-mail {
	margin-right:20px
}

.top-bar span i {
	margin-right: 10px;
	font-size: 18px;
}

/*Navigation CSS*/
#navigation .container {
	position:relative;
}

a.navbar-brand {
	color: #fff;
	margin-left: 0 !important;
}

/*
#navigation .navbar-fixed-top .navbar-brand img {
	max-width:75%;
}*/

.navbar-fixed-top .navbar-brand h1 {
	margin: 0;	
}

#navigation .navbar-right {
	margin-top: 60px;
	margin-right: 35px;
}

#navigation .navbar-right li {
	padding-left:35px;
}

#navigation .navbar-right li a {
	color:#fff;
	font-size:16px;
	height: 100%;
	text-transform:capitalize;
	padding:10px 0px;
}

#navigation .navbar-right li a span {
	position:relative;
}

#navigation .navbar-right li a span:after {
	position:absolute;
	content:'';
	left:0;
	bottom:-12px;
	height:2px;
	width:100%;
	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#navigation .navbar-fixed-top .navbar-right li a.active span:after, 
#navigation  .navbar-fixed-top .navbar-right li a:hover span:after, 
#navigation .navbar-fixed-top .navbar-right li a:focus span:after, 
#navigation .navbar-fixed-top .navbar-right li.active a span:after {
	background-color:#fff;
}

#navigation .navbar-right li a.active span:after, 
#navigation  .navbar-right li a:hover span:after, 
#navigation .navbar-right li a:focus span:after, 
#navigation .navbar-right li.active a span:after{
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {
	background-color:transparent;
}

#navigation .navbar-fixed-top {
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-o-transition: 500ms;
	transition: 500ms;
}

#navigation .navbar-fixed-top .navbar-right{
	margin-top: 0;
}

#navigation .navbar-fixed-top .navbar-right li a{
	line-height: 48px;
	padding: 15px 0px;	
}

/*dropdown-menu*/
#navigation .navbar-right .dropdown-menu {
	background-color:transparent;
	padding:0;
	left:0;
}

#navigation .navbar-right .dropdown-menu li {
	padding:0;
}

#navigation .navbar-right .dropdown-menu li a {
	color:#454545;
	margin-bottom:1px;
	padding:7px 15px;
	background-color:#fff;
	line-height:24px;
}

.search{
	position: absolute;
	top: 72px;
	z-index: 1;
	right:15px;
	width:300px;
}

#navigation .navbar-fixed-top .search {
	top: 30px;
}

#navigation .navbar-fixed-top .search .field-toggle{
	top: 40px;
}

.search i{
  color: #fff;
  cursor: pointer;
  position: absolute;
  right:0;
  top: 2px;
}

#navigation .navbar-fixed-top .search i:hover {
	color: #fff;
}

.field-toggle {
  position: relative;
  top: 30px;
  right: 0px;
  display: none;
  height: 50px;
}

.search-form{
  padding-left: 10px;
  height:50px;
  font-size: 14px;
  color: #818285;
  font-weight: 300;
  outline: none;
  margin-top:10px;
  width:100%;
}

/*Main Carousel CSS*/
#main-carousel .item {
	background-size:cover;
	background-repeat:no-repeat;
}

.carousel-caption {
  color: #fff;
  font-size: 15px;
  left: 15px;
  right: 15px;
  text-align: left;
  text-shadow: none;
  top:50%;
  margin-top:-180px;
}

.carousel-caption  h1 {
	font-size:75px;
	font-weight:800;
	line-height:90px;
	text-transform:capitalize;
	max-width:600px;
	margin-bottom:20px;
}

.carousel-caption p {
	max-width:545px;
	margin-bottom:35px;
}

.carousel-caption .btn-primary {
	margin-bottom:25px;
	background-color:transparent;
	border-color:#fff;
}

.carousel-caption .watch-video {
	display:block;
	max-width:150px;
}

.carousel-indicators {
	bottom: 50%;
	left: inherit;
	position: absolute;
	right: 30px;
	text-align: center;
	z-index: 15;
	width:25px;
	margin-bottom:-38px;
}

.carousel-indicators li {
	background-color: #dcdfe6;
	border: 1px solid #dcdfe6;
	border-radius: 50%;
	height: 13px;
	width: 13px;
}

.carousel-indicators .active {	
	height: 13px;
	width: 13px;
}

/*call-to-action*/
.call-to-action {
	background-color: #fff;
	padding: 10px 55px 25px;
}

.call-to-action span {
	font-weight:600;
}

.call-to-action .btn-primary {	
	margin-top:30px;
}


/*============================
==========what-we-do==========
=============================*/
#what-we-do {
	margin-bottom:5px;
	margin-top:100px;
}

.what-we-do img {
	display:inline-block;
	margin-bottom:10px;
	opacity:0.6;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	-moz-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

.what-we-do .col-sm-4:hover img {
	opacity:1;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.what-we-do h2 {
	font-weight:500;
}


/*============================
==========who-we-are==========
=============================*/
#who-we-are {
	margin-bottom:5px;
}

.who-we-are img {
	display:inline-block;
	/*margin-bottom:10px;*/
	opacity:0.6;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	-moz-transform: scale(0.9);
	-webkit-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

.who-we-are .col-lg-4:hover img {
	opacity:1;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.who-we-are h2 {
	font-weight:500;
}

.our-details-tab .tab-section {
	margin-left:-15px;
	padding-left:0;
	/*height:292px;*/
	overflow:hidden;
}

.our-details-tab .tab-content {
	background-color: #fff;
	padding: 30px 45px;
	min-height:240px;
	/*border-right:1px solid #ddd;*/
}

.our-details-tab .tab-content h4 {
	margin-top:0;
	margin-bottom:20px;
}

.nav-tabs.nav-justified > li > a {
	border-radius:0;
	background-color:#f2f2f2;
	color:#676767;
	padding:15px;
	font-size:18px;
}

.nav-tabs.nav-justified > .active > a, 
.nav-tabs.nav-justified > .active > a:hover, 
.nav-tabs.nav-justified > .active > a:focus {
	background-color:#fff;
}

/*Donations*/

#donations{
	color: #fff;	
}

.parallax-content {
	padding:40px 0;
}

#donations .lead {
	margin-bottom:35px;
}

#donations .btn-primary {
	margin-top:25px;
	padding:16px 44px;
}

.overall-process {	
	padding-top:60px;
	max-width:550px;
}

.overall-process img {
	display:inline-block;
}

.progress-striped .progress-bar, .progress-bar-striped {	
	background-size: 40px 40px;
}

.cycle-image img {
	display: block;
	margin-bottom: -47px;
	margin-left: 75px;
}

.round-progress {
	background-color: transparent;
	border: 10px solid #fff;
	border-radius: 25px;
	display: block;
	height: 48px;
	overflow: hidden;	
	margin-top:-4px;
}

.round-progress .progress {
	border-radius: 25px;
	height: 20px;
	margin: 4px;	
}


.progress-info {
	margin-top: 15px;
}

.progress-info p {
	margin-bottom:20px;
}

.progress-info i {
	font-size:30px;
}

.progress-info span {
	margin:25px;
	
}

/*============================
==========cause-list==========
==============================*/

#cause-list {
	padding-top:50px;
}

#cause-list .carousel-indicators, 
#event-carousel .carousel-indicators, 
#recent-post-carousel .carousel-indicators, 
#member-carousel .carousel-indicators, 
#partner-carousel .carousel-indicators {
	bottom: inherit;
	right: -10px;
	top: -55px;
	width: 75px;
}

#cause-list .carousel-indicators li, 
#event-carousel .carousel-indicators li, 
#recent-post-carousel .carousel-indicators li, 
#member-carousel .carousel-indicators li, 
#partner-carousel .carousel-indicators li {
	display:inline-block;
	border-radius:0;
}

#cause-list .carousel-indicators li.active, 
#event-carousel .carousel-indicators li.active, 
#recent-post-carousel .carousel-indicators li.active , 
#member-carousel .carousel-indicators li.active, 
#partner-carousel .carousel-indicators li.active, 
#humanity-carousel .carousel-indicators li.active {
	margin:1px;
}

.list-image {
	position:relative;
	border-bottom:5px solid #dcdcdc;	
}

.list-image:after {
	position:absolute;
	content:"";
	height:5px;
	left:0;
	bottom:-5px;		
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

.list-image.border-one:after {
	width:75%;
}

.list-image.border-two:after {
	width:25%;
}

.list-image.border-three:after {
	width:50%
}

.list-image img{
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}

#cause-list .col-sm-4:hover .list-image img {	
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	filter: grayscale(0);
}

#cause-list .col-sm-4:hover .list-image:after {
	width:100%;
}

#cause-list .col-sm-4:hover .list-image:before {
	left:96%;
}

.list-image:before {
	position:absolute;
	content:"";
	height:16px;
	width:16px;
	border-radius:50%;	
	bottom:-10px;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;	
	z-index:10;
}

.list-image.border-one:before {
	left:74%;
}

.list-image.border-two:before {
	left:24%
}

.list-image.border-three:before {
	left:49%;
}

.list-info {
	background-color: #fff;
	border-color: #cfd2d8;
	border-width: 0 1px 1px;
	padding: 25px;
}

.list-info h2 {
	margin-top:0;
	margin-bottom:5px;
}

.list-info .btn-primary {
	padding:9px 28px;
}

.list-info p {
	margin-bottom:20px;
}


/*========================
=======New Stuf Added======
==========================*/
.sub-section-title-center{
	text-align: center
}

.quote-title-center{
	text-align: center	
}

.logo-center{
	text-align: center
}

.section-title-center{
	text-align:center;
	padding-top:80px;
}

/*======================END============================*/


.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}

div.ball-pulse {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;	
}

.ball-pulse > div {
  background-color: #00aeef;  
}

/*Displaying Validation Errors*/

input.error {
  border-color: red;
}

select.error {
  border-color: red;
}

span.validationErrorMsg {
  color : red;
  text-align: left;
  padding-left:5px;
}


/*custom Toast style*/
.customToastStyle > div{
	background-color: #337ab7;
	border-color:#337ab7;
	border-radius:3px;
	border-style:solid;
	color : white;
}